<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos Contraceptivos</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="../resource/img/icon/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <div class="header">
           <a href="#topo"><h1>Métodos Contraceptivos</h1></a>
            <!-- <p>Conheça as diferentes opções de métodos contraceptivos e escolha o que melhor atende às suas
                necessidades.
            </p> -->
        </div>
    </header>
    <div id="topo" class="image-grid">
        <a href="#camisinha"><img src="../resource/img/banana.jpg" alt="Imagem 1"></a>
        <a href="#feminino"><img src="../resource/img/camisinha.jpg" alt="Imagem 2"></a>
        <a href="#esponja"> <img src="../resource/img/remedio.jpg" alt="Imagem 3"></a>
        <a href="#diafragma"><img src="../resource/img/mao.jpg" alt="Imagem 4"></a>
    </div>

    <section id="introducao">
        <h2>A Importância da Educação Sexual e do Acesso à Anticoncepção para Adolescentes</h2>
        <p>A adolescência é um período marcado por transformações físicas, emocionais e sociais, em que o início da
            vida sexual ocorre com frequência cada vez maior e, muitas vezes, sem a devida proteção.A falta de
            informações claras e acessíveis sobre métodos contraceptivos e os riscos de doenças sexualmente
            transmissíveis (DSTs) e AIDS aumenta a vulnerabilidade dos jovens a gravidezes indesejadas e à exposição a
            essas doenças. No Brasil, a gravidez na adolescência é uma das principais causas de internação de jovens no
            sistema de saúde, com alta prevalência em todas as regiões do país.</p>
        <p>
            Diversos fatores contribuem para a incidência de gravidez na adolescência, como o início precoce da
            atividade sexual, dificuldades de acesso a serviços de saúde e insegurança no uso de métodos contraceptivos.
            Estudos indicam que, embora os jovens recebam informações sobre anticoncepção, ainda é comum o uso
            inadequado desses métodos, o que aponta para uma deficiência na educação sexual, especialmente no ambiente
            escolar. <br></p>
        <p>A criação de programas de saúde que assegurem privacidade, confidencialidade e apoio para os adolescentes é
            essencial para promover uma vivência saudável da sexualidade. Este estudo busca oferecer suporte científico
            para profissionais de saúde e educação, visando aprimorar o atendimento e a orientação a essa faixa etária.
        </p>
        </p>
    </section>

    <section id="tipos">
        <h2>Tipos de métodos contraceptivos</h2>
        <p>Os diferentes métodos contraceptivos são conhecidos pelos profissionais da saúde, da educação e também pela
            maioria da população em idade reprodutiva. Porém, a eficácia e a utilização correta nem sempre é explorada,
            principalmente com os adolescentes, os quais têm iniciado cada vez mais precocemente as atividades sexuais
            sem, contudo receberem ou buscarem informações acerca da contracepção.</p>
        <p class="citacao">
            "O uso de contraceptivos mostra uma
            atitude positiva frente a sexualidade, mas também um grau de maturidade e auto-estima próprios de quem
            projeta o futuro negociando com o presente as suas decisões". (Ramos; 2001: 31).<sup>37</sup>
        </p>
        <p>
            Segundo o Ministério da Saúde,14,15 a assistência em anticoncepção pressupõe oferta de todas as alternativas
            de métodos contraceptivos, assim como o acompanhamento clínico-ginecológico da adolescente referente ao
            método elegido.17 Tais métodos se dividem de acordo com o mecanismo de ação: a) métodos comportamentais que
            estão embasados na auto-observação que ocorre no organismo ao longo do ciclo menstrual, sendo necessário que
            as usuárias tenham ciclos menstruais regulares e que exista cumplicidade entre o casal (Ogino-Knaus,
            temperatura basal corporal, mucocervical ou Billings); b) os métodos de barreira que consistem em obstáculos
            mecânicos ou químicos à penetração dos espermatozóides no canal cervical (preservativo: masculino e
            feminino, diafragma, geléias espermicidas); c) métodos hormonais (oralpílula, injetáveis e implante) cuja
            finalidade básica é impedir a concepção; d) dispositivo intra-uterino (DIU), que atuam impedindo a
            fecundação; e) métodos cirúrgicos ou esterilização (ligadura das trompas e a vasectomia); f) contracepção de
            emergência, método alternativo hormonal oral que evita a gravidez quando ingerido até 72 horas após a
            relação sexual desprotegida. Muitos especialistas afirmam que a escolha do método contraceptivo deve ser
            responsabilidade do casal. Nesse
            sentido os autores ressaltam a importância da assistência integral a saúde sexual e reprodutiva de homens e
            mulheres, com implantação de programas que incluam a reflexão acerca da dinâmica das relações e dos papéis
            sociais.
        </p>
    </section>

    <div class="divimagem">
        <div class="imagem">
    </div>

    <section id="camisinha">
        <h2>Preservativo masculino</h2>
        <p>Os preservativos externos (masculinos) são capas protetoras finas que cobrem o pênis. Devem ser usados
            corretamente para serem eficazes e devem ser colocados antes da penetração. O preservativo deve ser
            posicionado de forma que aproximadamente 1 cm da ponta fique sobrando para oferecer espaço para coletar o
            sêmen. Alguns preservativos já possuem um reservatório na ponta para esse fim. Após a ejaculação, o pênis
            deve ser retirado imediatamente, segurando firmemente o aro do preservativo na base do pênis para evitar que
            ele deslize e derrame o sêmen.</p>
    </section>

    <!-- <section id="comousar"> -->
        <div class="imgmasculino">
            <div class="imagemcamisinha">
        </div>
    <!-- </section> -->

    <section id="feminino">
        <h2>Preservativo feminino</h2>
        <p>O preservativo interno (feminino) é um tipo de bolsa com um anel interno e outro externo. O anel interno é
            inserido o máximo possível dentro da vagina (ou ânus), e o anel externo permanece de fora. Então, o pênis é
            cuidadosamente conduzido através do anel externo para a bolsa. Se o pênis deslizar para fora da bolsa ou se
            o anel interno for empurrado para dentro, o preservativo pode ser removido e recolocado sem risco de
            gravidez, desde que o sêmen não tenha sido liberado (ejaculado). Após a relação sexual e antes de remover o
            preservativo, o anel externo deve ser apertado e torcido para evitar o derramamento do sêmen. Depois disso,
            o preservativo deve ser removido da vagina com cuidado. Se o sêmen for derramado, os espermatozoides podem
            entrar na vagina e causar gravidez. O preservativo feminino deve ser colocado no máximo até oito horas antes
            da relação sexual.</p>
        <iframe class="youtube" width="560" height="315"
            src="https://www.youtube.com/embed/SdNWDyC69nM?si=vIUmSJWJVSlm_v5j" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section id="esponja">
        <h2>Esponja contraceptiva</h2>
        <p>A esponja contraceptiva é um dispositivo de poliuretano em formato de travesseiro com cerca de 4 cm de
            diâmetro, que é umedecido e inserido profundamente na vagina. Ela impede a entrada de espermatozoides no
            útero e contém espermicida, sendo vendida sem necessidade de prescrição médica.</p><br>
        <Os>A esponja pode ser colocada até 24 horas antes da relação sexual e deve permanecer por no mínimo seis horas
            após o último ato, mas nunca por mais de 30 horas. Sua eficácia é inferior à do diafragma, com taxas de
            gravidez de 12% em mulheres que nunca tiveram filhos e 24% para aquelas que já tiveram. Os problemas são
            raros e podem incluir reações alérgicas, secura, irritação vaginal e dificuldade na remoção da esponja.</p>

    </section>
    <div class="imagemguide">
        <div class="imagembot">
    </div>
    <section id="diafragma">
        <h2>Diafragma</h2>
        <p>O diafragma é um método contraceptivo de barreira, feito de borracha ou silicone, que é inserido na vagina e
            posicionado sobre o colo do útero para impedir a entrada de espermatozoides. Para ser eficaz, deve ser
            utilizado com um espermicida. O dispositivo vem em vários tamanhos e deve ser ajustado por um profissional,
            especialmente em caso de mudanças corporais significativas. O modelo de silicone, mais durável que o de
            látex, é muitas vezes de tamanho único. O diafragma deve permanecer por pelo menos seis horas após a relação
            e ser removido em até 24 horas. Sua eficácia anual é de 6% com uso perfeito e 12% com uso típico.</p><br>
        <p>Além de ser reutilizável, o diafragma deve ser higienizado após cada uso e inspecionado regularmente para
            verificar possíveis rasgos ou desgaste, o que pode comprometer sua eficácia. É um método que, quando bem
            ajustado e utilizado corretamente, não causa desconforto e não deve ser sentido nem pela mulher nem pelo
            parceiro durante a relação. Por ser um método de barreira sem interferência hormonal, é uma opção para quem
            busca alternativas contraceptivas que preservem o equilíbrio hormonal natural do corpo.</p>

    </section>
    <section id="capuz">
        <h2>Capuz cervical</h2>
        <p>O capuz cervical é um dispositivo de silicone em formato de chapéu que é inserido na vagina e posicionado
            sobre o colo do útero para impedir a entrada de espermatozoides. Ele é semelhante ao diafragma, porém menor
            e mais rígido. Disponível em três tamanhos, o capuz deve ser prescrito por um profissional de saúde.</p><br>
        <p>Para maior eficácia, é necessário o uso de creme ou gel espermicida junto ao capuz. Ele pode ser inserido
            entre 15 minutos e 40 horas antes da relação sexual, e deve permanecer no local por pelo menos seis horas
            após a relação, mas não mais que 48 horas. Com um cordão para facilitar a remoção, o capuz é reutilizável
            por até um ano.</p><br>
        <p>A eficácia varia: aproximadamente 8% das mulheres que nunca tiveram filhos engravidam durante o primeiro ano
            de uso típico. A taxa é mais alta em mulheres que já tiveram filhos, devido às mudanças no colo do útero
            após o parto.</p>

    </section>
    <section id="gel">
        <h2>Gel contraceptivo</h2>
        <p>O gel contraceptivo altera a acidez (pH) do pH vaginal. Essa alteração incapacita os espermatozoides e,
            assim, impede a fertilização do óvulo.
            A porcentagem de mulheres que engravidam é de 7% com uso perfeito e de 14% com uso típico. Uma vez que a
            eficácia do gel contraceptivo é limitada, recomenda-se que ele seja usado juntamente com outro método
            contraceptivo de barreira como, por exemplo, preservativo ou diafragma.
            O gel vaginal deve ser colocado na vagina no máximo uma hora antes da relação sexual e reaplicado antes de
            cada relação sexual.
            O gel vaginal não protege de forma confiável contra infecções sexualmente transmissíveis.
        </p>
    </section>
    
    <div class="imagemremedios">
        <div class="imgremedios">
    </div>

    <footer>
        <div id="footer">
            <span>&copy; 2024 Informativo sobre Métodos Contraceptivos <br>Centro Universitário Mauricio de
                Nassau</span>
        </div>
    </footer>

    <script src="script.js"></script>
</body>

</html>